

$primary-green: #96ba3b !important;
$primary-red: #eb3c5e;
$primary-blue: #3cc0eb;#96ba3b
$primary-yellow: #ffcf00;
$primary-purple: #9C27B0;
$primary-orange: #d90;


$light-green: #8BC34A;


$darker-green: #70911e;
$darker-blue: #0277BD;
$darker-purple: #4A148C;
$darker-red: #D50000;
$darker-yellow: #c39f00;
$darker-orange: #8a6000;