span {
  height: auto;
}

md-content {
  overflow: hidden;
}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
.a-logo-menu {
	width: 45px;
	margin-left: 5px;
	margin-top: 40px;
}
.a-user-avatar-menu {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.a-logo-item {
	background-color:#393b41;
  height: 150px;
}
.molecule--menu-top {
  background-color: #393b41; 
}
.main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
}

.main-menu {

background:#4a4d55;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000 !important;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
  font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}
.molecule--top-bar {
  width: 120%;
  margin-top: -18px;
  background-color: #aec76f;
  height: 60px;
}
a:hover,a:focus {
  text-decoration:none;
}
.t-menu-collapsed-logo {
  width: 30px;
  height: 30px;
  top: 0px;
  left: 20px;
  z-index: 1000;
}
.md-nav-bar {
  border-bottom: 0;
}
.a-online-user-counter {
  color: #fff;
  border: 0;
 white-space: nowrap;
}
.a-users-count {
  color: #fff;
  text-align: center;
  margin-top: 8px;
}
.a-count-bg {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #a3ba6a;
  border-radius: 30px;

}

.a-username-menu {
    margin-top: -43px;
    font-size: 18px;
    text-align: start;
    color:#999;
}
.t-avatar-items {
  margin-left: 70px;
  margin-bottom: -70px;
}
.t-right-profile-item,
.t-left-profile-item {
  position: absolute;
}
.t-right-profile-item {
  background-color: #4a4d55;
  border-radius: 50px;
  bottom: 50px;
  left: 105px;
}
.t-left-profile-item {
  background-color: #4a4d55;
  border-radius: 50px;
  right: 44px;
  top: 94px;
}
.left-item {
  margin-left: -11px;
  margin-top: 6px;
}
.right-item {
  margin-left: -10px;
  margin-top: 6px;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

li.t-right-profile-item:hover > {
  background-color: black !important;
  border-radius: 50px !important;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#aec76f;
}

.main-menu:hover > ul > li.a-logo-item {
  display: none;
  flex: 0;
}